<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<title>STRIFE</title>
<link rel="icon" type="image/x-icon" href="/assets/images/pixels/brokenrecord.ico">

<!-- CSS -->
<link rel="stylesheet" href="https://unpkg.com/98.css">
<link rel="stylesheet" href="/css/style.css" />
<link rel="stylesheet" href="/css/borderimages.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!-- EMBED -->
<meta content="STRIFE" property="og:title" />
<meta content="hey" property="og:description" />
<meta content="https://strife.nekoweb.org" property="og:url" />
<meta content="/assets/images/graphics/davelook.gif" property="og:image" />
<meta content="#e00707" data-react-helmet="true" name="theme-color" />
<meta name="twitter:card" content="summary_large_image">

<!-- SCRIPT -->
<script src="/scripts/nekocafe.js"></script>
<script src="https://u.widget.st/ar.js"></script>
<script>
    function openMenu() {
        var x = document.getElementById("navlinks-mobile");
        if (x.style.display === "block") {
            x.style.display = "none";
        } else {
            x.style.display = "block";
        }
} 
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>
    $(document).ready(function() {
            $("#changeFont").click(function() {
                $("*").toggleClass("comicsans");
                // $("body").css("font-size", "24px");
                $("nav").toggleClass("largerFont")
            });
        });
</script>
