<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<title>{{title}}</title>

<!-- CSS -->
<link rel="stylesheet" href="https://unpkg.com/98.css">
<link rel="stylesheet" href="/css/style.css" />

<!-- EMBED -->
<meta content="strife" property="og:title" />
<meta content="hey" property="og:description" />
<meta content="https://strife.nekoweb.org" property="og:url" />
<meta content="/assets/images/graphics/dirklook.gif" property="og:image" />
<meta content="#000000" data-react-helmet="true" name="theme-color" />
<meta name="twitter:card" content="summary_large_image">

<!-- SCRIPT -->
<script src="/scripts/nekocafe.js"></script>