<div id="side" class="flex-column">

    <!-- ICON -->

    <div class="box">
        <div class="boxlabel" align="center"><span class="dirk" style="font-family:'Courier New', Courier, monospace; font-weight: 700;">Hey.</span></div>
        <div class="boxcontent">
            <img src="/assets/images/icons/dirkicon.webp" alt="" class="center" style="width: 100%;" alt="image of brain ghost dirk from homestuck beyond canon">
        </div>
    </div>

    <!-- NEKOCAFE -->
    <div id="nekocafe-status"></div>

    <!-- BUTTONBOX -->
    <div id="buttonbox" class="box">
        <div class="boxlabel dirk" align="center" style="font-family:'Courier New', Courier, monospace; font-weight: 700;">Buttons</div>
        <div class="boxcontent">

            <a href="/button.webp" download="strife"><img src="/button.webp" class="site-button center" style="padding-bottom:5px;"></a>

            <div class="flex-column" style="text-align: center; padding:5px;">
                <iframe src="https://nekoweb.org/frame/follow" frameborder="0" width="170" height="28"></iframe>
            </div>
            
            <p align="center" style="padding-top: 0px; margin-top:0px;">you can either download the button img by clicking it or hotlink it with the code below</p>

            <textarea readonly class="hotlink center"><a href="https://strife.nekoweb.org/" target="_blank"><img src="https://file.garden/Yr-hX12ApyvZIcfg/button.png" style="image-rendering: pixelated;" alt="strife button"></a></textarea>

        </div>
    </div>

    

    
</div>