<div id="side2" class="flex-column">

    <!-- ICON -->

    <div class="box">
        <div class="boxlabel" align="center"><span class="dave" style="font-family:'Courier New', Courier, monospace; font-weight: 700;">hey</span></div>
        <div class="boxcontent">
            <img src="/assets/images/icons/daveicon.webp" alt="" class="center" style="width: 100%;" alt="image of dave strider from homestuck beyond canon">
        </div>
    </div>

    <div class="box" style="height:auto;" >
        <div align="center" class="boxlabel dave" style="font-family:'Courier New', Courier, monospace; font-weight: 700;">
            calendar
        </div>

        <ws-widget type="calendar" iid="18744" height="200px"></ws-widget>

    </div>

    <div class="box" style="height: auto;">
        <div align="center" class="boxlabel dave" style="font-family: 'Courier New', Courier, monospace; font-weight: 700;">
            toggles
        </div>

        <div class="boxcontent">
            <button id="changeFont" class="hs dave center">change font</button>
            <p align="center">^ you'll have to toggle that every refresh if you want to stay on comic sans</p>
        </div>
    </div>

    <!-- LINKBOX -->
    <!-- <div id="linkbox" class="box">
        <div class="boxlabel dave" align="center" style="font-family:'Courier New', Courier, monospace; font-weight: 700;">directory</div>
        <div class="boxcontent">
            <ul class="tree-view" style="overflow:auto;">
                <li>interests</li>
                <ul>
                    <details open>
                    <summary>general</summary>
                    <ul>
                        <li><a href="/enneagram">enneagram</a></li>
                        <li><a href="/mycology">mycology</a></li>
                        <li><a href="/obsidian">obsidian</a></li>
                    </ul>
                    </details>

                    <details open>
                    <summary>media</summary>
                    <ul>
                        <li><a href="/homestuck">homestuck</a></li>
                    </ul>
                    </details>
                </ul>
            </ul>
        </div>
    </div> -->

</div>
