<div id="side" class="flex-column">

    <!-- ICON -->

    <div class="box">
        <div class="boxcontent">
            <img src="/assets/images/icons/dirkicon.jpg" alt="" class="center" style="width: 100%;">
        </div>
    </div>

    <!-- NEKOCAFE -->
    <div id="nekocafe-status"></div>

    <!-- BUTTONBOX -->
    <div id="buttonbox" class="box">
        <div class="boxlabel" align="center">site button</div>
        <div class="boxcontent">

            <a href="/button.png" download="strife"><img src="/button.png" class="site-button center"></a>
            
            <p align="center">you can either download the button img by clicking it or hotlink it with the code below</p>

            <textarea readonly class="hotlink center"><a href="https://strife.nekoweb.org/" target="_blank"><img src="https://file.garden/Yr-hX12ApyvZIcfg/button.png" style="image-rendering: pixelated;" alt="strife button"></a></textarea>

        </div>
    </div>

    

    
</div>