<div id="side" class="flex-column">

    <!-- ICON -->

    <div class="box">
        <div class="boxlabel" align="center">STRIIIIDERRRRR!!!!!</div>
        <div class="boxcontent">
            <img src="/assets/images/icons/dirkicon.jpg" alt="" class="center" style="width: 100%;">
        </div>
    </div>

    <!-- STATUS -->
    <div class="box">
        <div class="boxlabel">status</div>
        <div class="boxcontent">
            <div id="statuscafe">
                <div id="statuscafe-username"></div>
                <div id="statuscafe-content"></div>
            </div>
            <script src="https://status.cafe/current-status.js?name=strife" defer></script>
        </div>
    </div>

    <!-- BUTTONBOX -->
    <div id="buttonbox" class="box">
        <div class="boxlabel">site buttons</div>
        <div class="boxcontent">

            <a href="/button.png" download="strife"><img src="/button.png" class="site-button center"></a>
            <br>
            <textarea readonly class="hotlink center"><a href="https://strife.nekoweb.org/" target="_blank"><img src="https://file.garden/Yr-hX12ApyvZIcfg/button.png" style="image-rendering: pixelated;" alt="strife button"></a></textarea>

        </div>
    </div>

    
</div>