<div class="logTable flex-column" style="width: 100%;">

    <div class="flex changelog-entry">
        <div class="logLeft">2025/10/08 »</div>
        <div class="logRight">
            changed all images to webp
        </div>
    </div>

    <div class="flex changelog-entry">
        <div class="logLeft">2025/10/07 »</div>
        <div class="logRight">
            new background image, favicon, and cursor<br>
            added calendar and follow button<br>
            mobile responsive layout<br>
            added <a href="/sitemap">sitemap</a>
        </div>
    </div>
    
    <div class="flex changelog-entry">
        <div class="logLeft">2025/10/06 »</div>
        <div class="logRight">
            new blog post: <a href="/blog/20261006">a reflection on dirk strider</a><br>
            new site button, added <a href="/links">buttons page</a> and <a href="/guestbook">guestbook</a><br>
            switched to nekocafe
        </div>
    </div>

    <div class="flex changelog-entry">
        <div class="logLeft">2025/10/05 »</div>
        <div class="logRight">
            new blog post: <a href="/blog/shroom-trip-report-1">shroom trip report 1</a><br>
            outlined relationships with <a href="/homestuck/self-classpecting/aspects">hs aspects</a>
        </div>
    </div>

    <div class="flex changelog-entry">
        <div class="logLeft">2025/10/04 »</div>
        <div class="logRight">new blog post: <a href="/blog/20261004">i love observing people. & other thoughts</a></div>
    </div>

    <div class="flex changelog-entry">
        <div class="logLeft">2026/10/02 »</div>
        <div class="logRight">site overhaul</div>
    </div>

    <div class="flex changelog-entry">
        <div class="logLeft">2025/08/09 »</div>
        <div class="logRight">moved to using 11ty</div>
    </div>

    <div class="flex changelog-entry">
        <div class="logLeft">2025/08/04 »</div>
        <div class="logRight">site created</div>
    </div>

</div>