<header>
    <nav id="navbar">
        <ul>
            <li><a href="/index.html">HOME</a></li> |
            <li><a href="/about">ABOUT</a></li> |
            <li><a href="/blog">BLOG</a></li> |
            <li><a href="/guestbook">GUESTBOOK</a></li> |
            <li><a href="/resources">RESOURCES</a></li> |
            <li><a href="/links">LINKS</a></li> |
            <li><a href="/sitemap">SITEMAP</a></li>
        </ul>
    </nav>

    <nav id="navbar-mobile">
        <div id="navbar-mobile-visible" class="flex" style="gap:10px; align-items: center;">
            <a href="/index.html" class="logo"><img src="/assets/images/pixels/brokenrecord.ico" style="height: 20px;"></a>
            <a href="/index.html">STRIFE.NEKOWEB.ORG</a>
            <a href="javascript:void(0);" class="icon" onclick="openMenu()">
            <i class="fa fa-bars"></i>
            </a>
        </div>
        <div id="navlinks-mobile">
            <a href="/about">ABOUT</a>
            <a href="/blog">BLOG</a>
            <a href="/guestbook">GUESTBOOK</a>
            <a href="/resources">RESOURCES</a>
            <a href="/links">LINKS</a>
            <a href="/sitemap">SITEMAP</a>
        </div>

        

    </nav>

</header>