<!DOCTYPE html>
<html lang="en">
    <head>
        {% include "basehead.html" %}
        {% block head %} {% endblock %}
    </head>

    <body>

        
        
        <div id="container" class="flex-column">

            <header>
                <nav>
                    <ul>
                        <li><a href="/index.html">HOME</a></li> |
                        <li><a href="/about">ABOUT</a></li> |
                        <li><a href="/blog">BLOG</a></li> |
                        <li><a href="/fic-recs">FIC RECS</a></li> |
                        <li><a href="/resources">RESOURCES</a></li> |
                        <li><a href="/links">LINKS</a></li>
                    </ul>
                </nav>
            </header>

            <div id="content" class="flex">

                <!-- SIDEBAR -->
                {% include "basesidebar.html" %}

                <!-- MAIN CONTENT -->
                <div id="main" class="flex-column">
                    {% block content %}
                        {{ content | safe }}
                    {% endblock %}
                </div>

                <!-- SIDEBAR -->
                {% include "basesidebar2.html" %}

            </div>
        </div>
    </body>
</html>