<!DOCTYPE html>
<html lang="en">
    <head>
        {% include "basehead.html" %}
        {% block head %} {% endblock %}
    </head>

    <body>

        <div id="container" class="flex-column">

            {% include "navbar.html" %}

            <div id="content" class="flex">

                <!-- SIDEBAR -->
                {% include "basesidebar.html" %}

                <!-- MAIN CONTENT -->
                <div id="main" class="flex-column">
                    {% block content %}
                        {{ content | safe }}
                    {% endblock %}
                </div>

                <!-- SIDEBAR -->
                {% include "basesidebar2.html" %}

            </div>
        </div>

        <script src="/scripts/tooltip.js"></script>
        
    </body>
</html>