{% extends "layouts/base.html" %}

{% block content %}

    <div id="blogpost" class="box">

        <div class="boxlabel">{{page.date | formatDate}} » {{ title }}</div>

        <div class="boxcontent">
            
            <main>
                {{ content | safe }}
            </main>

            <ul class="taglist">

                tags:
                {% for tag in tags %}

                    <li>
                        <a href="/blog/tag/{{ tag | slugify }}">#{{tag}}</a>
                    </li>

                {% endfor %}
            </ul>

        </div>

    </div>

{% endblock %}
