@font-face {
    font-family: 'DOS';
    src: url('/assets/fonts/Px437_DOS-V_re_ANK24.woff2') format('woff2');
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
    line-height: 175%;
    background-color: #535353;
}

sup {
    line-height: 175%;
}

#back-to-top a {
    position: fixed;
    right: 10px;
    bottom: 10px;
    font-size: 50px;
    text-decoration: none;
    color: #FFF;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    font-family: Arial;
    font-size: 12px;
    color: #fff;
    gap: 10px;
}

#navbar a {
    color: #fff;
}

#navbar a:visited {
    color: #fff;
}

#navbar ul {
    padding: 0px;
    list-style: none;
}

#navbar li {
    display: inline;
}

#navbar li + li::before {
    color: #fff;
    content: " | ";
}

#container {
    max-width: 970px;
    margin: 0 auto;
}

#content {
    background-color: #c6c6c6;
    padding-top: 15px;
    padding-bottom: 25px;
    margin: 0 auto;
}

.box {
    background-color: #efefef;
    max-width: 651px;
    padding: 15px;
    margin: 0 auto;
}

h1 {
    margin-top: 0px;
    text-align: center;
}

ol {
    margin-left: 10px;
}

.center {
    display: block;
    margin: 0 auto;
}

#imglinks {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    height: auto;
}

#imglinks img{
    display: flex;
    max-height: 100px;
}

.imgtxt {
  width: fit-content;
  height: fit-content;
  display: inline-block;
  position: relative;
}

.imgtxt span {
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 99;
  font-family: 'DOS';
  font-size: 20px;
  color: #FFF;
  filter: drop-shadow(1px 1px 0 black) 
    drop-shadow(-1px 1px 0 black)
    drop-shadow(1px -1px 0 black)
    drop-shadow(-1px -1px 0 black);
}

.imgtxt:hover span, .imgtxt:focus span {
  opacity: 1;
}

.imgtxt:hover img, .imgtxt:focus img {
  /* add hover effects like transform or filter to your images here! */
  transform: rotate(3deg);
}	

.tooltip {
    position: absolute;
    min-width: 140px;
    max-width: 500px;
    width: auto;
    padding: 15px 10px;
    background-color: black;
    color: white;
    border-radius: 0px;
    text-align: center;
    overflow: hidden;
}