#row2 {
    gap: 10px;
    width:100%;
}

#hyperfixation {
    display: flex;
    flex-direction: column;
    width: 20vw;
}

#hyperfixation-content img {
    max-width: 100%;
    height: auto;
}

#hyperfixation-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#blogcolumn {
    gap: 10px;
    width: 70vw;
}

#blogbox {
    display: flex;
    flex-direction: column;
    height: auto;
}

#blogbox .whitebox {
    height: 100%;
    overflow: auto;
}

.postlist {
    list-style: none;
    padding-left: 0px;
}

.postlist:first-child {
    margin-top: 3px;
}

#changelog {
    height: 100%;
}

#changelog .whitebox {
    display: flex;
    height: 110px;
    width: 100%;
    overflow: auto;
    margin-bottom: 0px;
}

.logLeft {
    width: 25%;
    word-wrap: break-word;
}

.logRight {
    width: 100%;
    word-wrap: break-word;
}