---
layout: layouts/home.html
title: "HOME"
---

<div id="welcome" class="box">
    <div class="boxlabel" align="center">WELCOME</div>
    <div class="boxcontent">

        <img src="/assets/images/graphics/dave-dirk-hug.png" 
        class="center" 
        style="height:auto;width:30vw;object-fit:contain;max-width:400px;">

        <h2 align="center">ctrl+shift+r to refresh!</h2>

        <p align="center">this site is a place for me to express myself as well as a creative outlet. while things are perpetually under construction, you're free to take a look around <img src="https://nukochannel.neocities.org/NukoImg/Activities/Hobbies/nukoBrowsing.gif" class="emote"></p>

        <p align="center">i'll be blogging and making pages centered around my interests and hobbies, and really whatever comes to mind that i feel like adding <img src="https://nukochannel.neocities.org/NukoImg/Reactions/Happy/nukoJoy.gif" class="emote"></p>

        <p align="center">keep in mind that i'm an adult and might post or refer to mature, explicit, or generally nsfw content, including but not limited to drug use (primarily weed). pages will be properly marked off as nsfw (🔞) where needed, and the same goes for any necessary content warnings.</p>

    </div>
</div>

<div id="row2" class="flex">
    <div id="hyperfixation" class="box">
        <div class="boxlabel">hyperfixation</div>
        <div id="hyperfixation-content" class="boxcontent">
            
            <a href="/homestuck" class="imgtxt">
                <img src="/assets/images/graphics/cal-dirk.png" alt="" class="center">
                <span style="font-size:14px;">homestuck</span>
            </a>

        </div>
    </div>
    <div id="blogbox" class="box">
            <div class="boxlabel">recent blog posts</div>
            <div id="blogboxcontent" class="boxcontent">
                <div class="whitebox">
                    {% set postsCount = collections.posts | length %}
                    {% set latestPostsCount = postsCount | min(5) %}
                    {% set postslist = collections.posts %}
                    {% set postslistCounter = postsCount %}
                    {% include "layouts/postslist.njk" %}
                    {% set morePosts = postsCount - 5 %}
                    {% if morePosts > 0 %}
                    <p>{{ morePosts }} more post{% if morePosts != 1 %}s{% endif %} can be found in <a href="/blog">the archive</a>.</p>
                    {% endif %}
                </div>
            </div>
        </div>
</div>

<div id="changelog" class="box">
    <div class="boxlabel">changelog</div>
    <div class="boxcontent">
        <div class="whitebox">
            {% include "changelog.html" %}
        </div>
    </div>
</div>

<!-- tooltip code

put this shit in the thang:
data-tooltip-container 
data-tooltip-label="tooltip text"

-->